.show__container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 -5px 5px 5px;
  }
  
  .show__input {
    max-width: 15%;
    margin: 5px;
    padding: 3px;
    border-radius: 7px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
  }
  
  .show__list {
    display: flex;
    justify-content:space-evenly;
  
    padding-right: auto;
    padding-left: auto;
  }
  
  .show__text {
    margin-top: 50px;
  }
  
  .show__info {
    font-size: 25px;
    color: bisque;
    padding: 13px;
  }
  
  img {
    border-radius: 30px;
    width: 250px;
  }
  
  .show__span {
    padding-right: 5px;
  }
  
  .show__img {
    margin-top: 40px;
    text-align: center;
  }